/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


#outer_tube {

	width:100%;
} 

#inner_tube {
	 
	 width:380px; 
	 height:320px; 
	 float:right;
 }

#tube_sidebar {
	
	height:320px; 
	width:137px;
	overflow-y:scroll;
	float:left
}

.tube_thumbs {
	
	cursor:pointer; 
	padding-bottom:5px;
}

input.error,
textarea.error {
	border-color: #973d3d;
	border-style: solid;
	background: #f0bebe;
	color: #a35959;
}

input.error:focus,
textarea.error:focus {
	border-color: #973d3d;
	color: #a35959;
}